body {
	background-color: #303134;
}

h1,h2, #mainnav li { font-family: 'Cabin', arial, serif; }

/* -------------------- header styles -------------------- */

#loginlinks {
	margin-right: 5%;
}

#loginlinks p {
	text-align: right;
}

#loginlinks a {
	color: #0066FF;
}


#mainnav {
	background-color:#CCCCCC;
	overflow:hidden;
	padding-bottom: 10px;
	padding-top: 10px;

}

#mainnav ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
}

#mainnav li {
	float: left;
	margin-left:1%;
	margin-right:1%;
	font-family: sans-serif;
	font-weight: heavy;
	font-size: 14pt;
}

#topbanner img {
	width:100%;
}

#topbanner img, #logo {
	margin-left: 1%;
	margin-right: 1%;
}


/* footer styles */

#footer {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

/* -------------------- home page styles -------------------- */

#left-home-column .columncontent img, #right-home-column .columncontent img  {
	width: 100%;
}

#left-home-column, #right-home-column, #mid-home-column {
	margin:0.9%;
}

#left-home-column{
	float: left;
	width: 18%;
}

#right-home-column{
	float: right;
	width: 18%;
}

#mid-home-column{
	float: left;
	width: 58%;
}

#frontfeed, #map {
	background-color: #CCCCCC;
	margin-bottom: 1%;
	padding-bottom: 1%;
}

#map img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:96%;
}

div.feeditem {
	background-color:white;
	margin:1%;
	padding-bottom:0.5%;
	padding-left:1.5%;
	padding-top:0.5%;
}

/* -------------------- resort profile styles -------------------- */

.profilepic img {
	width: 100%;
}

#weather, #reviews {
	background-color: #CCCCCC;
}

#leftcolumn, #rightcolumn, #midcolumn {
	margin:0.9%;
}

#leftcolumn{
	float: left;
	width: 18%;
}

#rightcolumn{
	float: right;
	width: 18%;
}


#midcolumn{
	float: left;
	width: 58%;
}

#resortnav ul{
	list-style: none;
}

#resortnav {
	margin-top: 1%;
	background-color: #CCCCCC;
}

#share {
	overflow: hidden;
}

#share h2 {
	float: left;
}

#share ul {
	list-style:none;
}

#share li {
	float: left;
}

#localsbox {
	overflow: hidden;
	background-color: #CCCCCC;
}

#localslist {
	list-style: none;
	padding-left: 0px;
}

#localslist li {
	float: left;
}

.thumbpic {
	margin-right: 7%;
}

#resortfeed, #share {
	background-color: #CCCCCC;
	padding-top:0.5%;
	padding-bottom:0.5%;
	margin-bottom:2%;
}

#reviews img {
	width:80%;
}

#localsbox, #weather, #reviews {
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: .5%;
}

#weather p {
	text-align: center;
	margin-top: 1%;
}

#weather img {
	width: 85%;
	margin-left: 7%;
}

/* -------------------- Forum Styles -------------------- */

#forummockup img {
	width: 100%;
}

